<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="font-family: Arial, sans-serif;line-height: 1.6;color: #ffffff;margin: 0;padding: 0;">
    <div
        style="background: #1b1b1b;border-radius: 25px;border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;overflow: hidden;box-shadow:0 2% 4% rgba(0, 0, 0, 0.1);">
        <div
            style="background-color: #1e3c72;padding: 5%;text-align: center;border-top-left-radius:25px;border-top-right-radius: 25px;">
            <img src="https://bytebandits.in/images/mail-logo.png" alt="Logo"
                style="width: 40%; margin-bottom: 5%; max-width: 200px;">
        </div>
        <div style="padding: 5%; text-align: left;">
            <div style="line-height: 400%;">
                <h1 style="color: #ffffff; font-size: 4rem; margin: 0;">Byte</h1>
                <h1 style="color: #ffffff; font-size: 4rem; margin: 0;">Bandits</h1>
            </div>
            <div style="border-bottom: 0.2em solid #ffffff; padding-bottom: 5%; margin-bottom: 5%;">
                <h2 style="font-size: 1.5rem;color: #ffffff;">Dear <strong>{name}</strong>,</h2>
                <p style="font-size: 1rem;color: #ffffff;">Welcome aboard! We're thrilled to have you with us and excited about the
                    journey ahead. Together, we’ll achieve great things, and your presence will surely make a positive
                    impact.</p>
            </div>
            <div>
                <h3 style="font-size: 1rem; color: #ffffff; font-style: italic;">Empowering your ideas through
                    innovative web and desktop solutions. From sleek static sites to dynamic, interactive platforms, we
                    bring your vision to life. Click below to explore more!</h3>
                <div style="text-align: center;">
                    <a href="https://bytebandits.in/"
                        style="border: solid #fff;display: inline-block;margin-top: 5%;padding: 3% 15%;background-color: #6a9cf54a;color: #fff;text-decoration: none;border-radius: 1%;">Explore
                        More</a>
                </div>
            </div>
        </div>
        <div style="padding: 5%; text-align: center;">
            <h2 style="color: #fffdfd; font-size: 1.5rem;">Our Work in Action</h2>
            <img src="https://media.giphy.com/media/3o7abKhOpu0NwenH3O/giphy.gif" alt="Work in Action"
                style="width: 100%; max-width: 80%; border-radius: 2%;">
            <p style="color: #bfbdbd; margin-top: 5%; text-align: left;">Discover how Byte Bandits can transform your
                ideas into stunning digital solutions. Our dedicated team ensures every project is a success.</p>
        </div>
        <div style="text-align: center;margin-top: 5%;font-size: 1rem;color: #777;padding-bottom: 5%;padding-top:5%;
        background-color: #272727;">

            <a href="https://www.linkedin.com" style="margin: 0 2%; color: #0077b5; text-decoration:
            none;">LinkedIn</a>
            |
            <a href="https://www.facebook.com" style="margin: 0 2%; color: #3b5998; text-decoration:
            none;">Facebook</a>
            |
            <a href="https://www.instagram.com" style="margin: 0 2%; color: #e1306c; text-decoration:
            none;">Instagram</a>

            <p style="margin-top: 5%;color: #ffffff;">Plot No. 3A, Door No. 1/1033,<br>Kumudham Nagar Extension,<br>Mugalivakkam,
                Chennai - 600125</p>
        </div>
        <div style="text-align: center;">
            <p style="color: #ffffff;">© 2025 Byte Bandits. All rights reserved.</p>
        </div>
        <!-- Unique hidden content for Gmail -->
        <div
            style="display: none; font-size: 0px; color: #ffffff; line-height: 0px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
            UniqueID-{unique_id}-Timestamp-{timestamp}
        </div>
    </div>
</body>

</html>